*{
    box-sizing: border-box  ;
}
.header{
    display: block;
    height: 50px;
    z-index: 2;
}
.header h1{
    margin-top: 0;
    margin-left: 30px;
}
.header:hover{
    border:2px black solid;
}
.box{
    width: 60vw;
    height: auto;
    margin: 4% auto;
}
.nav{
    height: 40px;
    background-color: rgb(33, 80, 112);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}
#heading, #description{
    border-radius: 10px;
    background-color: rgb(112, 248, 248);
    height:1.7rem;
    width: 200px;
}
#add{
    height: 1.7rem;
    width:100px;
    border-radius:10px;
    background-color: rgb(7, 226, 255);
}

.list-item{
    display: flex;
    margin-top: 10px;
    width:100%;
    height: 100px;
    background-color: rgb(33, 80, 112);
    border-radius: 10px;
    justify-content: space-between;
}
.list-item:hover{
    background-color: rgb(57, 101, 131);
}
.list-item h3, .list-item p{
    display: inline-block;
    color: rgb(171, 202, 231);
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;

}
.content{
    width: 86%;
}
.buttons{
    display: flex;
    flex-direction: column;
    width:10%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
}
#complete, #delete{
    width: 30px;
    height: 30px;
    border-radius: 7px;
}
#complete{
    background-color: chartreuse;
}
#delete{
    background-color: crimson;
}
.test{
    background-color: rgb(9, 184, 3);
}
